/target
dilly_defender-*/*
dilly-defender-*/*
*.pdf
./app.*
*.log
*.deb
*.h5
*nohup*
**/dist/*
**/build/*
dillylog.log
app.log
**/AITraining/TrainingTools/D2/bin/Detect/_internal/*
*dist.zip
*/bin/*
AITraining/TrainingTools/D2/bin/Detect/Detect.exe
*.zip